.chat-popup {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: #71b1d8;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(1, 34, 53, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background-color: #1e709c;
  font-size: 1rem;
  font-weight: 600;
}

.chat-header h3 {
  color: white; /* o cualquier otro color */
  margin: 10;
  font-size: 1.2rem;
}

.chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.chat-list {
  flex: 4;
  padding: 0.5rem;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: white;
}

.chat-item:hover {
  background-color: #1e709c;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.8rem;
}

.chat-info {
  flex: 2;
}

.chat-info p {
  font-size: 0.85rem;
  opacity: 0.7;
  margin: 2px 0 0;
}

.chat-time {
  font-size: 0.7rem;
  opacity: 0.5;
}
