.register-form {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 1rem 4rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  margin: auto;
  align-items: center;
}

.register-form input,
.register-form textarea {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  background: #eef0f1;
  font-size: 1rem;
  resize: none;
  height: 40px;
  box-sizing: border-box;
  
}

.register-form h2 {
  text-align: center;
  color: #1b5a96;
  margin-bottom: 1.9rem;
  font-size: 1.9rem; /* AUMENTADO el tamaño del título */
  font-weight: 700;
}

.register-form textarea {
  height: 100px;
}

.register-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #1b5a96;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-link {
  text-align: center;
  font-size: 0.95rem;
  
  color: #1b5a96;
}

.login-link a {
  color: #1b5a96;
  text-decoration: underline;
  font-weight: 500;
}