

.home-container {
  display: flex;
  height: 100vh;
  background-color: #101e2a;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.map-wrapper {
  flex: 1;
  position: relative;
  z-index: 1;
}
