.register-container {
    display: flex;
    height: 100vh;
    background-image: url('../images/mapa-login1.png'); /* Cambia si tu fondo es otro */
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(0.7);
    font-family: 'Segoe UI', sans-serif;
  }
  
  .register-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-left: 8rem;
  }
  
  .info-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow:  0 15px rgba(0, 0, 0, 0.1);
  }
  
  .info-box {
    text-align: center;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  
  .info-box h1 {
    font-size: 2.2rem;
    color: #1b5a96;
    margin-bottom: 1rem;
  }
  
  .info-box p {
    font-size: 1rem;
    color: #1b5a96;
    line-height: 1.5;
  }
  